$ pip install numpy
$ apt install cmake
$ pip install dlib # In case of problems compile from source...
$ pip install opencv-python
$ sudo apt-get install python3-pyqt5 # In case of problems compile from source...


##### OPENALPR INSTALLATION START
# Install prerequisites
$ sudo apt-get install libopencv-dev libtesseract-dev git cmake build-essential libleptonica-dev
$ sudo apt-get install liblog4cplus-dev libcurl3-dev

# Clone the latest code from GitHub
$ git clone https://github.com/openalpr/openalpr.git

# Setup the build directory
$ cd openalpr/src
$ mkdir build
$ cd build

# setup the compile environment
$ cmake -DCMAKE_INSTALL_PREFIX:PATH=/usr -DCMAKE_INSTALL_SYSCONFDIR:PATH=/etc ..

# compile the library
$ make

# Install the binaries/libraries to your local system (prefix is /usr)
$ sudo make install

# To test the Alpr library you may try this
$ alpr TEST_IMAGE.jpg

# Install python bindings
$ cd ../bindings/python
$ sudo python3 setup.py install

##### OPENALPR INSTALLATION END


